*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
 }
 ::-webkit-scrollbar-track {
  background-color: var(--second-color);
 }
 ::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
 }

body {
  background-color: var(--second-color);
}

:root {
  --background-color: #BF926B;
  --box-color: #BF926B;
  --second-color: #D9D0C1;
  --main-color: #2D3540;
}

/* === Navbar === */

header {
  width: 100%;
  background: var(--main-color);
  position: fixed;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 0 5%;
}

.nav h1 {
  color: var(--box-color);
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: .45s ease;
}

.nav h1:hover {
  transform: scale(1.07);
}

.nav ul {
  display: flex;
}

.nav ul li a{
  color: var(--box-color);
  margin: 0 35px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .35s ease;
}

.nav ul li a:hover {
  color: var(--second-color);
}

.btn {
  border: 2px solid transparent;
  margin: 0 35px;
  padding: 2px 20px;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: var(--box-color);
  border-radius: 30px;
  border-top-right-radius: 0;
  color: var(--main-color);
  transition: .45s ease;
}

.btn:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.toggle_btn {
  color: var(--box-color);
  font-size: 1.5rem;
  right: 35px;
  cursor: pointer;
  display: none;
  position: absolute;
 }
 
 .dropdown_menu {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 100px;
  height: 0;
  width: 300px;
  background: var(--main-color);
  border-bottom-left-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .dropdown_menu.open {
  height: 240px;
 }
 
 .dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .dropdown_menu .btn {
  display: flex;
  align-items: center;
  margin-left: 10%;
  width: 80%;
  justify-content: center;
  margin-bottom: 17px;
 }
 
 .dropdown_menu li a{
  color: var(--box-color);
  transition: .5s ease;
 }
 .dropdown_menu li a:hover{
  color: var(--box-color);
 }

 @media (max-width:1085px) {
  nav ul li,
  .btn{
   display: none;
  }
  .toggle_btn {
   display: block;
  }
  .dropdown_menu {
   display: block;
  }
  .logo {
   width: 140px;
   margin: auto;
  }
 }
 
 @media (max-width: 576px){
  .dropdown_menu {
   left: 2rem;
   width: unset;
  }
 }

/* === Home === */

.home {
  padding-top: 10%;
  padding-bottom: 50px;
  background: var(--main-color);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.home img {
  width: 15%;
}

.home h1{
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 600;
  color: var(--background-color);
  margin-bottom: 20px;
  width: 90%;
}

.home p {
  margin: 0 auto;
  color: var(--second-color);
  font-weight: 500;
  font-size: 1rem;
  width: 30%;
  margin-bottom: 30px;
}

.home p span {
  font-weight: 600;
}

.btn-home {
  padding: 10px 35px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: var(--box-color);
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: .45s ease;
}

.btn-home a {
  color: var(--main-color);
}

.btn-home:hover {
  transform: scale(1.2);
}

@media (max-width:1080px) {
  .home {
    padding-top: 25%;
  }
  .home h1 {
    font-size: 1.5rem;
  }
  .home img {
    width: 25%;
  }
}

@media (max-width:500px) {
  .home {
    padding-top: 35%;
  }
  .home p {
    font-size: 0.7rem;
    width: 100%;
  }
  .home img {
    width: 25%;
  }
}

/* === About === */

.about {
  background: var(--box-color);
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  padding: 20px;
  width: 60%;
  margin: 10rem auto ;
  transform: scale(1.07);
	animation: pulse 4s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


.about:hover {
  cursor: pointer;
}
.card-img {
  height: 250px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card-img img {
  border-radius: 30px;
}

.about h1 {
  margin: 0;
  font-weight: 600;
  color: var(--main-color);
}

.about p {
  color: var(--main-color);
  margin-right: 15px;
  padding-top: 20px;
  font-weight: 400;
  align-items: center;
  line-height: 1.8;
}

.about p span {
  font-weight: 600;
}

@media (max-width:1080px) {
  .about {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .card-img {
    height: 250px;
    margin: auto;
    padding-top: 20px;
  }
  .about p {
    line-height: 1.2;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .card-img {
    height: 150px;
  }
  .about p {
    line-height: 1;
    width: 100%;
  }
}

.services {
  background: var(--box-color);
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  padding: 20px;
  width: 60%;
  margin: 10rem auto ;
  transform: scale(1.07);
	animation: pulse 4s infinite;

}

.services:hover {
  cursor: pointer;
}
.card-img-services {
  height: 250px;
  display: flex;
  justify-content: space-between;
}


.card-img-services img {
  border-radius: 30px;
}

.services h1 {
  font-weight: 600;
  margin: 0;
  color: var(--main-color);
}

.services p {
  color: var(--main-color);
  font-weight: 400;
  margin-right: 15px;
  padding-top: 20px;
  align-items: center;
  line-height: 1.8;
}

.services p span {
  font-weight: 600;
}

@media (max-width:1080px) {
  .services {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .card-img-services {
    height: 250px;
    margin: auto;
    padding-top: 20px;
  }
  .services p {
    line-height: 1.2;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .card-img-services {
    height: 150px;
  }
  .services p {
    line-height: 1;
    width: 100%;
  }
}
/* === services === */
.client
{
  background: var(--main-color);
  padding: 100px;
  text-align: center;
}
.client .imgBx
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.client .imgBx img
{
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  transition: .35s ease-in;
  cursor: pointer;
}
.client .imgBx img:hover
{
  opacity: 1;
}
h2.heading
{
  color: var(--box-color);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
p.text
{
  color: var(--second-color);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px){
  .client .imgBx img {
    max-height: 200px;
    width: 100%;
  }
  p.text {
    width: 100%;
  }
}


/* ========== Contact ========== */

.contact-box {
  width: 60%;
  background-color: var(--main-color);
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 0 20px 0 var(--main-color);
  margin: 0 auto;
  align-items: center;
  margin-top: 10%;
  position: relative;
  justify-content: center;
  height: auto;
  text-align: center;
  margin-bottom: 10%;
 }
 
 .contact-box h1{
  color: var(--box-color);
  text-transform: uppercase;
 }
 
 form {
  margin: 85px;
 }
 
 .input-field {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid var(--background-color);
  border-radius: 14px;
  outline: none;
  margin-bottom: 20px;
 }
 
 .textarea-field {
  height: 150px;
  padding-top: 10px;
  resize: none;
 }
 
 .btn-form {
  border-radius: 20px;
  color: var(--main-color);
  margin-top: 18px;
  padding: 15px 100px;
  background-color: var(--box-color);
  font-size: 12px;
  border: none;
  cursor: pointer;
  transition: .45s ease;
 }
 
 .btn-form:hover {
  transform: scale(1.07);
 }
 
 .contact-box h3 {
  color: var(--box-color);
  font-size: 16px;
  font-weight: 500;
 }
 
 @media screen and (max-width: 830px){
  .contact-box {
   width: 80%;
  }
  .input-field {
   width: 100%;
  }
  .btn-form {
    width: 100%;
   padding: 10px 50px;
   align-items: center;
   text-align: center;
  }
 }
 
 @media screen and (max-width: 430px){
  .contact-box {
   width: 100%;
  }
  .input-field {
   width: 100%;
  }
  .contact-box h1 {
   font-size: 16px;
   align-items: center;
   text-align: center;
  }
  .btn-form {
    width: 100%;
   padding: auto;
   align-items: center;
   text-align: center;
  }
 }



/* === footer === */

.footer
{
  background: var(--box-color);
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .text {
  color: var(--main-color);
  font-weight: 300;
}
.footer ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li
{
  list-style: none;
}
.footer ul li a
{
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.footer ul li a i {
  color: var(--main-color);
  font-size: 24px;
  transition: .45s ease;
}

.footer ul li a i:hover {
  transform: scale(1.07);
}

@media screen and (max-width: 576px) {
  .footer {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    display: grid;
    grid: 1fr;
  }
  .footer ul {
    margin-top: 20px;
  }
  .footer ul li a {
    right: 0;
  }

  .footer .text {
    font-size: 13px;
  }

  .footer ul li a i {
    font-size: 16px;
  }
}